<%= form_tag(session_path) do %>
  <fieldset id="sign-in">
    <h1>Sign In</h1>
    <ol>
      <br>
      <li>
        <%= label_tag :email %>
        <%= email_field_tag :email, nil, autofocus: true %>
      </li>
      <li>
        <%= label_tag :password %>
        <%= password_field_tag :password, nil %>
      </li>
    </ol>
    <p>
      <%= submit_tag 'Sign In' %>
    </p>
    <br>
    <h5>
      <%= link_to 'No account yet? Sign up for free!', signup_path %>
    </h5>
  </fieldset>

  
<% end %>