<div id="registration-outer-confirmation">
	<div class="upper-event-list">
		<div class="container">
			<div class="row">

				<div id="registration-section-confirmation" class="col-md-12 text-center" >
					<div id="registration-header-confirmation">
						<h3>Confirm Signup for <%= @event.name %>?</h3>
					</div> <!-- end registration-header -->
					

					<div id="registration-confirmation">
						<%= form_for([@event, @registration]) do |f| %>
						<%= render "shared/errors", object: @registration %>
						
						<fieldset id="confirm-fieldset">
							<p>
								<div id="confirm-submit-button">
									<%= f.submit "Confirm", :class => 'confirm-button' %>
								</div>
								<br>
								<div id="cancel-link">
									<%= link_to "Cancel", @event, 'data-no-turbolink' => true%>
								</div>
							</p>
						</fieldset>
						<% end %> <!--ends form_for -->

					</div> <!-- end registration-confirmation -->
				</div> <!--registration-section -->

			</div> <!--end first row -->
		</div> <!--end first container -->
	</div> <!-- end upper-event-list -->
</div> <!--end registration-signup -->